schematron/reports_unc_schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <ns uri="http://www.w3.org/1999/xlink" prefix="xlink"/>
  <ns uri="urn:isbn:1-931666-22-9" prefix="ead"/>

  <phase id="manual">
    <active pattern="nonmigrating-extref-attributes" />
    <active pattern="migrating-extref-attributes" />
    <active pattern="extref-container-types" />
    <active pattern="audience" />
  </phase>

    <pattern id="nonmigrating-extref-attributes">
    <rule context="//extref[not(ancestor::container) and not(ancestor::unittitle and ancestor::c01)]">
    <!-- nonmigrating 'extref' elements -->
    <!-- we assume that any c0x is a c01 or descendant of a c01-->
      <report test="@role or @show or @actuate or @audience" diagnostics="nonmigrating-extref-attributes">
        nonmigrating extref attrs: '<value-of select="@role" />';'<value-of select="@show" />';'<value-of select="@actuate" />';'<value-of select="@audience" />';
      </report>
      <report test="." diagnostics="nonmigrating-extref-attributes">
        nonmigrating extref href/text: href: '<value-of select="@href" />' text: '<value-of select="." />'
      </report>
      <report test="." diagnostics="nonmigrating-extref-urls">
        <value-of select="@href" />
      </report>
    </rule>
  </pattern>

  <pattern id="migrating-extref-attributes">
    <rule context="//did/container//extref|//*:c/did//unittitle//extref|//*:c01/did//unittitle//extref|//*:c02/did//unittitle//extref|//*:c03/did//unittitle//extref|//*:c04/did//unittitle//extref|//*:c05/did//unittitle//extref|//*:c06/did//unittitle//extref|//*:c07/did//unittitle//extref|//*:c08/did//unittitle//extref|//*:c09/did//unittitle//extref|//*:c10/did//unittitle//extref|//*:c11/did//unittitle//extref|//*:c12/did//unittitle//extref">
    <!-- 'extref' elements that are migrating -->
      <report test="(@role or @show or @actuate or @audience)" diagnostics="extref-attributes">
        migrating extref attrs: '<value-of select="@role" />';'<value-of select="@show" />';'<value-of select="@actuate" />';'<value-of select="@audience" />';
      </report>
      <report test="not(@role or @show or @actuate or @audience)" diagnostics="extref-attributes">
        migrating extref attrs: none
      </report>

      <report test="." diagnostics="migrating-urls">
        <value-of select="@href" />
      </report>
    </rule>
  </pattern>

  <pattern id="extref-container-types">
    <rule context="//did/container[descendant::extref]">
    <!-- any 'container' element with an extref-->
    <!-- extrefs in non-digfolder/digitem containers are allowed and will migrate;
         this identifies those non-digfolder/digitem container types-->
      <report test="not(@type='digfolder' or @type='digitem')" diagnostics="containzerized-extref-container-types">
        containerized extref with non df/di type: '<value-of select="@type" />'
      </report>
    </rule>
  </pattern>

  <pattern id="audience">
    <rule context="//*[@audience]">
    <!-- any element with an 'audience' attr -->
      <report test="@audience and not(local-name(.) = 'eadheader')" diagnostics="audience-attributes">
        audience: '<value-of select="@audience" />'
      </report>
    </rule>
  </pattern>

  <diagnostics>
    <diagnostic id="nonmigrating-extref-attributes">Ref-number: AS-326</diagnostic>
    <diagnostic id="extref-attributes">Ref-number: AS-326</diagnostic>
    <diagnostic id="containzerized-extref-container-types">Ref-number: AS-353</diagnostic>
    <diagnostic id="audience-attributes">Ref-number: AS-326 (tangent)</diagnostic>
    <diagnostic id="migrating-urls">Ref-number: AS-595 (migrating)</diagnostic>
    <diagnostic id="nonmigrating-extref-urls">Ref-number: AS-595 (nonmigrating)</diagnostic>
  </diagnostics>
</schema>
